[Unit]
Description=Stream sensor data to Grovestreams
After=network.target

[Service]
WorkingDirectory=/home/pi/mud/bucket/sensor-stream
ExecStart=/home/pi/mud/venv/bin/python sensor-stream.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target

